.layoutPage {
  height: 100%;
}
.layoutPageHeader {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  box-shadow: 0 4px 10px #dddddd;
  background-color: #fff;
}

.layoutPageHeaderMain {
  padding: 0 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Actions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarTrigger {
  cursor: pointer;
}

.userAction {
  cursor: pointer;
}

.layoutPageSider {
  margin-bottom: 10px;
}

.layoutPageContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}
