.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  height: 100%;
}

.form {
  width: 374px;
  padding: 50px 40px 10px;
  border-radius: 10px;
}

.formButton {
  width: 100%;
}
