.app-wrapper {
  position: relative;
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.showGreyMode {
  filter: grayscale(1);
}

.showColorWeakness {
  filter: invert(0.8);
}

.drawer-bg {
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: 220px;
  position: relative;
}

.sidebar-container {
  transition: width 0.28s;
  width: 220px !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - 220px);
  transition: width 0.28s;
}

.hideSidebar {
  .main-container {
    margin-left: 58px;
  }
  .sidebar-container {
    width: 58px !important;
  }
  .fixed-header {
    width: calc(100% - 58px);
  }
}
